body
{
	background-color: #f5f5f5;
	font-family: "Segoe UI";
	margin-bottom: 50px;
}

a:link, a:visited
{
	text-decoration: none;
	color: #185796;
}

a:hover, a:active
{

}

hr
{
	border: none;
	border-bottom: solid 1px #D4D4D4;
}
#wrap
{
	max-width: 1170px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	background-color: #ffffff;

}
header
{
height: 60px;


}
#brand
{
	float: left;
	max-width: 150px;
	padding: 10px;
	font-size: 24px;
	font-weight: bold;

	
}

#nav
{

	max-width: 1170px;
	padding: 10px;
	font-size: 14px;

}

#cover
{
	max-width: 100%;
	height: 300px;
	padding: 10px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#88bacf+0,b0d4e3+100 */
background: rgb(136,186,207); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(136,186,207,1) 0%, rgba(176,212,227,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(136,186,207,1) 0%,rgba(176,212,227,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(136,186,207,1) 0%,rgba(176,212,227,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88bacf', endColorstr='#b0d4e3',GradientType=0 ); /* IE6-9 */

}

#profile
{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: #356AA0;
	z-index: 1001;
	margin-top: -75px;
	margin-left: auto;
	margin-right: auto;

}

.brand-name
{
	max-width: 190px;
	color: #303030;
	font-size: 26px;
	border-bottom: solid 5px #D4D4D4;
	margin-top: 10px;
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.brand-slogan
{
	max-width: 400px;
	color: #303030;
	font-size: 16px;
	margin-top: 10px;
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	
}

#container
{
	max-width:960px;
	
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;

}

.title
{
font-size: 18px;
font-weight: bold;
padding-bottom:20px; 

}

video
{
	width: 100%;
	margin-bottom: 10px;
}
label
{
	font-size: 16px;
	font-weight: bold;
	
}
.tags
{
background-color: #356AA0;
color: #fff;
padding: 6px;
font-size: 12px;
margin: 3px;
cursor: pointer;
}

.button
{
	background-color: #303030;
	color: #fff;
	font-size: 16px;
	border:none; 
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	padding:8px;
}

#intro li
{
	display: inline;
	list-style: none;
	text-align:center;
	margin: 40px;

	

}
#intro .basics
{
	font-size: 15px;

}

#intro
{
	margin-bottom: 40px;
}



#jobs li
{
	
	list-style: none;
 background: url(../img/play.png) left center no-repeat;
 padding-left: 40px;
 margin-bottom: 20px;

}
.job-title
{
	
	font-size: 18px;
}
.job-desc
{
	font-size: 14px;
}

#jobs .button
{
	float: right;
padding:5px 10px 5px 10px;
font-size: 15px;

}

#perks li
{
	
	list-style: none;
}
footer
{
	margin: 8px;
}


/*Form Fields*/

.profiletextinput
{
	margin: 5px;
	width:98%;
	padding: 3px;
	border:solid 1px #D4D4D4;
}

.profiletextinput2
{
	margin: 5px;
	width:170px;
	padding: 3px;
	border:solid 1px #D4D4D4;
}

.profiletextinput3
{
	margin: 5px;
	width:270px;
	padding: 3px;
	border:solid 1px #D4D4D4;
}
.profiletextareainput
{
	margin: 5px;
	width:98%;
	height: 80px;
	padding: 3px;
	border:solid 1px #D4D4D4;

}

table
{
	width: 100%;
	max-width: 960px;
	border: solid 1px #D4D4D4;
    border-right: none;
}

td
{
	font-weight: bold;
	border-right: solid 1px #D4D4D4;

}
#feature
{
float: left;
width: 500px;


}
#signup
{
	width: 400px;
	float: right;
}

#primary_nav_wrap
{
	margin-top:15px;
	margin-right: 15px;
	float:right;
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a
{
	display:block;
	color:#333;
	text-decoration:none;
	font-size:14px;
	line-height:32px;
	padding:0 15px;
	
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0;
	font-weight:bold;

}


#primary_nav_wrap ul li:hover
{
	background:#f6f6f6
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;

	
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}

.file-upload {
	height: 32px;
	width: 32px;
    background: url(../img/p.png) no-repeat;
    overflow: hidden;
    margin: 15px;
}
.file-upload::-webkit-file-upload-button {
  visibility: hidden;
}
.file-upload::before {

  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.file-upload:hover::before {
  border-color: black;
}
.file-upload:active {
  outline: 0;
}
.file-upload:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}


#profilepic
{
	height: 50px;
	width: 50px;
	background-color: gray;
	border-radius: 50%;
}

#gallery {
	width: 100%;	
	max-width: 960px;	
	height:200px;

	}

#gallery a {
	text-decoration:none;
	}

#gallery .item {
	width: 150px; height: 150px; overflow: hidden;
	float: left;
	border: 5px solid #f9f9f9;
	margin: 5px;
	}


#gallery .item a { 
    overflow: hidden;
	}

#gallery .item a img {
	height: 100%; 
	align-self: center;
	}

.lightbox {
	/** Hide the lightbox */
	display: none;
	
	/** Apply basic lightbox styling */
	position: fixed;
	z-index: 9999;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	color:#333333;
	}

.lightbox:target {
    /** Show lightbox when it is target */
    display: block;
    outline: none;
}

.lightbox .box {
  	width: -webkit-min-content;
  	width: -moz-min-content;
  	width: min-content;
	min-width:500px;
 	margin: 2% auto;
	padding:10px 20px 10px 20px;
	background-color:#FFF;
	box-shadow: 0px 1px 26px -3px #777777; 
	}

.lightbox .title {
	margin:0;
	padding:0 0 10px 0px;
	border-bottom:1px #ccc solid;
	font-size:22px;
	}

.lightbox .content {
	display:block;
	position:relative;
	}
	

.lightbox .content .desc {
	z-index:99;
	bottom:0;
	position:absolute;
	padding:10px;
	margin:0 0 4px 0;
	background:rgba(0,0,0,0.8);

	color:#fff;
	font-size:17px;
	opacity:0;
	transition: opacity ease-in-out 0.5s;
	}	
	
.lightbox .content:hover .desc	{
	opacity:1;
}

.lightbox .next,
.lightbox .prev,
.lightbox .close {
	display:block;
	text-decoration:none;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:22px;
	color:#858585;
	}

.prev {
	float:left;
	}

.next, .close {
	float:right;
	}
	
	.clear {
		display:block;
		clear:both;
		}

@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

.basics
{
	color: #ff0000;
}


}